#projects {
    padding: 80px 0;
  }
  
  #projects h4 {
    font-weight: 600;
    font-size: 24px;
    color: #7b6d8d;
  }
  
  #projects p {
    color: #998ea7;
  }
  
  #projects button, .button {
    background-color: transparent;
    border: solid 1px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    letter-spacing: 0.25em;
    line-height: 4.75em;
    padding: 0 3.75em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 20px;
  }