.project-section {
  background-color: lavender;
  background-size: 55%;
  overflow: hidden;
  padding: 50px 0;
}

.project-header {
  text-align: center;
  color: #444440;
  padding: 1rem;
  position: relative;
}

.project-header:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 4px;
  background-color: #f5f5f5;
  border-radius: 2px;
}

.project-container {
  justify-content: left;
  align-items: left;
  text-align: left;
  grid-gap:1rem;
  padding: 1rem 80px;
}
