.text {
  font-size: 20px;
  font-weight: 200;
  color: #444440;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

.profile-pic:hover { 
    animation: profile-pic 1s infinite;
    animation-timing-function: linear;   
}
  
@keyframes profile-pic {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}