.timeline-block {
  position: relative;
  margin: 2em 0;
}

.timeline-block:after {
  content: "";
  display: table;
  clear: both;
}

.timeline-content {
  position: relative;
  margin-left: 70px;
  margin-right: 70px;
  background: #90AC8E;
  transition: all .10s linear 0s;
  box-shadow: 10px 10px #444440;
  border-radius: 5px;
  padding: 1em;
  text-align: left;
}

.timeline-content:hover {
    top: 10px;
    left: 10px;
    box-shadow: none;
}

.timeline-content-info {
  color: rgb(247, 244, 230);
  font-size: 16px;
}

.timeline-title, .timeline-date {  
  display: block;
  padding: 5px;
}

@media (max-width: 800px) {
  .timeline-content {
    width: 100%;
    margin: 0;
  }
}    
    
.timeline-content:after {
  content: "";
  display: table;
  clear: both;
}

.timeline-content h2 {
  color: #F7F4E6;
  padding-top: 5px;
  padding-bottom: 5px;
}

.timeline-content p {
  color: #444440;
  font-size: 18px;
  line-height: 28px;
}

@media only screen and (min-width: 1170px) {

  #timeline::before {
    top: 4.5rem;
    left: 50%;
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    background: #90AC8E;
    border-bottom: solid 2px #90AC8E;
  }

  #timeline::after {
    bottom: 0;
    left: 5%;
    content: '';
    position: absolute;
    width: 90%;
    height: 2px;
    background: #90AC8E;
  }

  .timeline-content {
    padding-right: 0;
    width: 40%;
  }

  .timeline-img {
    left: 49.2%;
    top: 15px;    
    position: absolute;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #90AC8E;
  }

  .timeline-block:nth-child(even) .timeline-content {
    float: right;
  }
  .timeline-block:nth-child(even) .timeline-img {
    border-left: 10px solid #90AC8E;
    border-right: 10px solid transparent;
    left: 50.2%;
  }
}