* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-track{
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb{
  background: #E7AF8E;
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
  overflow: scroll;
    overflow-x: hidden;
    overflow-y: overlay;
}

section {
  overflow: hidden;
  position: relative;
  padding: 3rem 5rem;
  text-align: center;
  background-color: #F7F4E6;
}

@media only screen and (max-width: 500px) {
  section {
    padding: 3rem 2rem;
  }
}

.green {
  background-color: #90AC8E;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.section-heading {
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-bottom: solid 2px #90AC8E;
}

.section-heading h1 {
  color: #E7AF8E;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.btn {
  padding: 12px 30px;
  transition: all .05s linear 0s;
  border-radius: 20px;
  border-color: #90AC8E;
  border-style: solid;
  border-width: 1.5px;
  background-color: transparent;
  color: #90AC8E;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 5px 5px #444440;
}

.btn:hover {
  background-color: #90AC8E;
  color: #F7F4E6;
  box-shadow: none;
  transform: translateX(5px);
  transform: translateY(5px);
}

.hero-container{
  width: 100%;
  background-color: #F7F4E6;
}

.hero-img{
  max-width: 100%;
}