#about .container {
  position: relative;
  background: #c4d8e5;
  padding: 3rem;
  border-radius: 30px;
}

#about .container::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
}

#about .container::before {
  bottom: calc(100% - 12px);
  left: 65px;
  background-image: url(../assets/computerkitty.png);
}

#about .reading-cat {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: -7px;
  right: 60px;
}

#about .reading-cat:hover +.book-feature {
  opacity: 100%;
}

#about .container p:not(.book-name, .author) {
  margin-bottom: 1rem;
}

ul.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: #1c2b48;
  font-size: 18px;
}

ul.skills-list li {
  display: flex;
  align-items: center;
  gap: 5px;
}

ul.skills-list li img {
  width: 35px;
}

@media (max-width: 800px) {
  #about .container {
    padding: 2rem;
  }

  #about .container::before,
  #about .reading-cat {
    width: 80px;
    height: 80px;
  }

  #about .container::before {
    left: 30px;
  }

  #about .reading-cat {
    bottom: -6px;
    right: 30px;
  }
}

@media (max-width: 480px) {
  ul.skills-list {
    display: block;
  }

  ul.skills-list li {
    margin-bottom: 20px;
  }
}