html, body, h1, h2 {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  scroll-behavior: smooth;
  background: #d1efbd;
}

::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: clamp(45px, 4vw, 60px);
  margin-bottom: 20px;
  color: #54428e;
}

h1, h2 {
  font-family: "Rampart One", cursive;
}

h2 {
  text-align: center;
  font-size: clamp(25px, 3vw, 45px);
  margin-bottom: 25px;
  color: #54428e;
}

h3 {
  margin-top: 2rem;
}

figure, blockquote, p {
  margin: 0 0 20px 0;
}

p {
  line-height: 1.5em;
  letter-spacing: 0.2em;
  color: #2e282a;
}

a, button, input[type="submit"] {
  cursor: pointer;
}

a {
  color: #2e282a;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

section {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

@media (max-width: 1180px) {
  section {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.resume a {
  text-transform: uppercase;
  font-weight: bold;
  background: #8963ba;
  color: white;
  border-radius: 5rem;
  border: 2px solid #2e282a;
  -webkit-box-shadow: #2e282a 4px 4px 0 0;
          box-shadow: #2e282a 4px 4px 0 0;
  padding: 1rem 2rem;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  display: inline-block;
}

.resume a:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translate(4px, 4px);
          transform: translate(4px, 4px);
}

.resume a:hover {
  background: transparent;
  color: #2e282a;
}

.masonary-grid {
  -webkit-columns: 3;
          columns: 3;
  gap: 20px;
}

@media (max-width: 1160px) {
  .masonary-grid {
    -webkit-columns: 2;
            columns: 2;
  }
}

@media (max-width: 800px) {
  .masonary-grid {
    -webkit-columns: 1;
            columns: 1;
  }
}

.masonary-grid figure {
  display: inline-block;
  padding: 20px;
  background: #90c290;
  border-radius: 1rem;
}