.hover-prompt {
    display: block;
    color: #e8ecef;
    font-size: 14px;
}

.book-wrap {
    display: none;
    align-items: center;
    gap: 20px;
}

.book-feature {
    position: absolute;
    right: 60px;
    bottom: 100px;
    border-radius: 10px;
    padding: 20px;
    width: fit-content;
    background: #1c2b48;
}

.book-feature::after {
	content: '';
	position: absolute;
	top: 100%;
    right: 54px;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #1c2b48;
	border-bottom: 0;
	border-right: 0;
}

.book-text h2 {
    text-align: left;
    color: #e8ecef;
    font-size: 12px;
    margin-bottom: 10px;
}

.book-text .book-name {
    color: #e8ecef;
    font-size: 20px;
}

.author {
    color: #a8c0d3;
    font-size: 14px;
}

.book-cover {
    width: 60px;
    transform: rotate(3deg);
}

.book-cover img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 5px;
}

@media (max-width: 875px) {
    .book-feature {
        display: none;
    }
}