.book-feature {
    display: flex;
    opacity: 0;
    position: absolute;
    right: 140px;
    bottom: 95px;
    gap: 20px;
    border-radius: 10px;
    padding: 20px;
    width: fit-content;
    background: #1c2b48;
    transition: 0.3s ease-in-out;
}

.book-text h2 {
    text-align: left;
    color: #e8ecef;
    font-size: 12px;
    margin-bottom: 10px;
}

.book-text .book-name {
    color: #e8ecef;
    font-size: 20px;
}

.author {
    color: #a8c0d3;
    font-size: 14px;
}

.book-cover {
    width: 100px;
    transform: rotate(3deg);
}

.book-cover img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 5px;
}