#certificates .container {
    display: flex;
    gap: 20px;
}

#certificates figure {
    background-image: url(../assets/blue_milk.jpg);
    border-radius: 10px;
    padding: 10px;
}

#certificates img {
    display: block;
    height: 340px;
    border-radius: 5px;
}