footer .container {
  position: relative;
  background: #c4d8e5;
  padding: 3rem;
  border-radius: 30px;
  text-align: center;
}

footer .container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: url(../assets/wave.svg) no-repeat;
  background-size: contain;
  background-position: left bottom;
  height: 262px;
  pointer-events: none;
}

footer span {
  display: block;
  margin-bottom: 1rem;
  font-style: normal;
  color: #2e282a;
}

footer small {
  position: relative;
  z-index: 1;
  display: block;
  margin-top: 5rem;
  padding: 2rem 0;
  color: #2e282a;
}