footer {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (max-width: 1180px) {
  footer {
    margin-left: 20px;
    margin-right: 20px;
  }
}

footer img {
  width: 2rem;
}

footer small {
  display: block;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid lightgray;
}