footer .container {
  position: relative;
  background: #c4d8e5;
  padding: 3rem;
  border-radius: 30px;
  text-align: center;
}

footer::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../assets/wave.svg") no-repeat;
  background-size: contain;
}

footer span {
  display: block;
  margin-bottom: 1rem;
  font-style: normal;
  color: #2e282a;
}

footer small {
  display: block;
  margin-top: 5rem;
  padding: 2rem 0;
  border-top: 1px solid lightgray;
  color: #2e282a;
}